<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<div id="loading">
    <span id="loading-text">...</span>
</div>

<div id="header">
    <div id="header-title">{{title}}</div>
    <div id="header-subtitle">{{{subTitle}}}</div>
</div>

<div id="main-body">
    {{{body}}}
</div>

</body>
</html>
